/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

body {
 font-family: "Roboto", sans-serif;
 color: #434455;
 background-color:#fff;
}

ul,ol {
 list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
 color:#4D5AE5;
 font-family: Raleway;
 font-size: 18px;
 font-weight: 700;
 line-height: 21px; 
 letter-spacing: 0.54px;
 text-transform: uppercase;
}

.header-logo .logo-part {
    color:#2E2F42;
} 

.nav-link {
 color:#2E2F42;
 font-size: 16px;
 font-weight: 500;
 line-height: 24px;
 letter-spacing: 0.32px;
}

.contacts {
font-style:normal;
}

.contacts-link {
color:#434455;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:focus-visible,
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:focus-visible {
  color:#404BBF;
  outline-color:#404BBF ;
}